# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python & Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Data (Crucial: Don't upload the 20MB+ CSV to GitHub)
*.csv
*.xlsx

# Positron/VS Code specifics
.vscode/
.positron/
.DS_Store